@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
